body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 50000px;
}

.sort-types {
  margin: 0;
  padding: 0;
}

.sort-types li {
  display: inline;
  padding: 0;
  margin: 0;
}

.Top ul {
  margin: 0;
  padding: 0;
}

.Top ul li {
  display: inline;
  padding: 0;
  margin: 0;
}

.Controls ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
}

.Controls ul li {
  display: inline;
  padding: 0;
  margin: 0;
}


html, body, #root {
  height: 100%;
}

.demo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
  }

  .list {
    width: 520px;
  }

  .list-item {
    position: absolute;
    background-color: #f0f0f0;
    width: 520px;
    overflow: visible;
    pointer-events: auto;
    transform-origin: 50% 50% 0px;
    border-radius: 4px;
    color: rgb(153, 153, 153);
    height: 70px;
    line-height: 70px;
    padding-left: 32px;
    font-size: 24px;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .red-list-item {
    position: absolute;
    background-color: #ffa3a3;
    width: 520px;
    overflow: visible;
    pointer-events: auto;
    transform-origin: 50% 50% 0px;
    border-radius: 4px;
    color: rgb(153, 153, 153);
    height: 70px;
    line-height: 70px;
    padding-left: 32px;
    font-size: 24px;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .blue-list-item {
    position: absolute;
    background-color: #a3e3ff;
    width: 520px;
    overflow: visible;
    pointer-events: auto;
    transform-origin: 50% 50% 0px;
    border-radius: 4px;
    color: rgb(153, 153, 153);
    height: 70px;
    line-height: 70px;
    padding-left: 32px;
    font-size: 24px;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .yellow-list-item {
    position: absolute;
    background-color: #c9ff9e;
    width: 520px;
    overflow: visible;
    pointer-events: auto;
    transform-origin: 50% 50% 0px;
    border-radius: 4px;
    color: rgb(153, 153, 153);
    height: 70px;
    line-height: 70px;
    padding-left: 32px;
    font-size: 24px;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }